

.cabecalho {
    min-height: 400px;
    text-align: left;
    padding: 10px;
    background-image: url("../images/back4.jpg");
    background-size:cover;
    
    
}

.corpo {
    min-height: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rodape {
   
    min-height: 200px;
    font-size: 12px;
    background-image: url("../images/back2.jpg");
    background-size:cover;
}
.rodape .p {
    color:#e8e8e8;
    font-size: 12px;
    text-align: center;
    padding-top: 20%;
}

.menu {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

button {
    padding: 15px 25px;
    border: 30px;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    float: left;
    margin-top: 1%;
    margin-left: 5px;


}

button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    cursor: pointer;
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

button .loagout {
    margin-left: 80%;

}