.coluna {
    border: 1px solid black
}

.cabecalho {
    min-height: 180px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    background-image: url("../images/back.jpg");
    background-size: cover;
}

.corpo {
    min-height: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rodape {
    text-align: center;
    font-size: 12px;
    color: white;

}

.menu {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

button {
    padding: 15px 25px;
    border: 30px;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    float: left;
}
button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
button:hover {
    cursor: pointer;
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
   }